p {
  /* visibility: hidden; */
  font-family: "Sofia";
  /* font-variant: small-caps; */
  font-size: 10px;
  /* color: red; */
}

table,
th,
td {
  border: 1px solid black;
}
a:link {
  text-decoration: none;
  color: black;
  display: inline-block;
}
ul {
  list-style-type: circle;
}
a:hover {
  color: rgb(12, 255, 48);
}
th {
  text-align: left;
}

td {
  text-align: left;
}

tr:nth-child(even) {
  background-color: aliceblue;
}

tr:hover {
  background-color: red;
}
p.center {
  font-size: 100px;
  padding: 50px;
  outline-style: groove;
  border-style: groove;
  text-decoration: overline;
  letter-spacing: -2px;
  text-shadow: 2px 5px;
}

body + p {
  margin: auto;
  background-image: url("favicon.png");
  /* background-repeat: repeat-x; */
  /* background-position: center; */
  background-attachment: scroll;
}
