p {
  font-size: 10px;
  color: aliceblue;
}

table,
th,
td {
  border: 1px solid black;
}

th {
  text-align: left;
}

td {
  text-align: left;
}

tr:nth-child(even) {
  background-color: aliceblue;
}

tr:hover {
  background-color: red;
}
p.center {
  font-size: 100px;
  padding: 50px;
  outline-style: groove;
  border-style: groove;
  text-decoration: overline;
}

body {
  margin-top: 800px;
  background-image: url("favicon.png");
  background-repeat: repeat-x;
  /* background-position: center; */
  background-attachment: scroll;
}
